{% extends "main/base.html" %}

{% block content %}
    <h2>courses</h2>
    <ul>
        {% for course in object_list %}
            <li>{{ course.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
