{% extends "main/base.html" %}

{% block title %}VLE: Create an account{% endblock %}

{% block content %}
<h1>Create an account</h1>

{% if form.errors %}
<div class="error">
    {{ form.errors.username }}
    {{ form.errors.password1 }}
    {{ form.errors.password2 }}
</div>
{% endif %}

<form id="reg_form" method="post" action={% url 'register' %}>
    {% csrf_token %}
    <div id="wrapper">
        <div id="box" style="height:300px;">
            <div id="inputs">
                    <form id='registration' method='post' action={% url 'register' %} accept-charset='UTF-8' style="margin-left:6px;">

                    <div class='container'>
                        {% if form.errors.username %}
                            <div class="error">
                                {{ form.errors.username }}
                            </div>
                        {% endif %}
                        <input type='text' name='username' id='username' value='' maxlength="50" size="30" placeholder="Username"/><br/>
                    </div>

                    <div class='container'>
                        <input type='password' name='password1' id='password1' maxlength="50" size="30" placeholder="Password" /><br/>
                    </div>

                    <div class='container'>
                        <input type='password' name='password2' id='password2' maxlength="50" size="30" placeholder="Verify password" /><br/>
                    </div>

                    <div class='container'>
                        <br/> <input type='submit' name='Submit' value='Register' />
                    </div>
                </form>

            </div>
        </div>
    </div>
</form>
{% endblock %}
